

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #9503a8;
}

.squares{
    border: 100px solid #0d0081;
    position: fixed;
    transform: translate(-50%,-50%) rotate(0deg);
    animation: 20s ease-in-out infinite;
}